<!DOCTYPE html>
<html>
    <head>
        <link href="{{ asset('bundles/goulunotpowerpoint/css/newslideshow.css') }}" type="text/css" rel="stylesheet" />
        <title>This is not powerpoint</title>
    </head>
    <body>
        <div id="wrapper">
            Slideshow title: {{ slideshow.name }}
            <div id="topmenu">
                MENUBUTTONS
            </div>
            <div id="leftmenu">
                {% for slide in slides %}
                <div id="slide_{{ slide.id }}" style="background-color: gray; height: 100px; width: 100px; margin: 10px">
                    olen slaidi numero={{ slide.slidenumber }}
                </div>
                {% endfor %}
            </div>

            <div id="content">
                hei, olen sisältö
            </div>
        </div>
    </body>
</html>
